*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




/* This below configures the background to an appropriate width and height, whilst adding a background image through a url(jpg)*/
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(nebula.jpg);
  background-size: cover;
  background-position: center;
  
}




/* This below places the 'Home, Registration, Contact, Schedule and Speakers' sections to the top right side of the page*/
.navbar{
  width: 100%;
  margin: inherit;
  padding: 40px 0;
  display: table-header-group;
  align-items: center;
  justify-content: space-between;
}




/* This below makes the logo an appropriate size*/ /*This below */
.logo{
  width: 130;
  cursor: pointer;
}




/*This below makes the 'Home, Registration, Contact, Schedule and Speakers' in a horizontal line rather than a list style format */
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;

}




/*This below turns the 'Home, Registration, Contact, Schedule and Speakers' section into capital letters and changes the colour */
.navbar ul li a{
  text-decoration: none;
  color: rgb(49, 40, 180);
  text-transform: uppercase;
}




/*This below  adds 0.3 second red bar under the  'Home, Registration, Contact, Schedule and Speakers' section when hovered over*/
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: rgb(243, 67, 67);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navbar ul li:hover::after{
  width:100%;
}



/*This below changes the colour of the main body text, adding shadows too*/
.content{
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  text-align:center;
  text-shadow:
    5px 5px 10px black,
    0 0 1em rgb(243, 67, 67),
    0 0 0.2em rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}





/*This below realigns the main body text and title*/
.content h1{
  font-size: 70px;
  margin-top: 50px;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}





/*This below makes configures the 'Register here' button, changing thing such as the border and transparency*/
button {
  width: 13%;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  margin: 35px 0 10px;
  height: 28px;
  font-size: 15px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: red;
  cursor: pointer;

}